.setting {
  :global {
    .el-dialog__body {
      padding-top: 10px;
    }
  }

  .tabs {
    height: 100%;
    display: flex;
    flex-direction: column;

    >:global(.el-tabs__header) {
      margin-bottom: 0;
    }

    >:global(.el-tabs__content) {
      flex: 1;
      overflow: hidden;

      >:global(.el-tab-pane) {
        height: 100%;
      }
    }
  }
}