.manager {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  box-sizing: border-box;

  >.form {
    margin-top: 12px;

    :global {

      .el-form-item--mini.el-form-item,
      .el-form-item--small.el-form-item {
        margin-bottom: 12px;
      }
    }
  }

  >.table {
    flex: 1;
    overflow: hidden;
  }

  .actions {
    >.remove {
      color: #f56c6c;
    }

    :global {
      .el-button {
        padding: 0;
      }
    }
  }

}